@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

body {
    font-family: 'IBM Plex Serif', serif;
}

.menu li::after {
    content: '';
    display: flex; 
    background-color: brown;
    height: 100%;
    width: 0;
    position: absolute;
    left: -2.5rem;
    top: 0;
    z-index: -1;
    transition: all 0.2s ease-out;
}

.menu li:hover::after, .menu li.active::after  {
    width: calc(100% + 2.5rem);
}